<div class="container">

  <p-toast></p-toast>
  <p-confirmDialog
    header="Confirmação"
    icon="pi pi-trash">
  </p-confirmDialog>

  <form autocomplete="off" #f="ngForm" >

    <div class="ui-g">

      <div class="ui-g-12">
        <h1>Pessoas</h1>
      </div>

      <div class="ui-g-12">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <button pButton type="submit" label="Pesquisar" (click)="pesquisar()" icon="pi pi-search" [disabled]="f.invalid" ></button>
          </div>

          <div class="ui-toolbar-group-right">
            <button pButton type="button" label="Novo" icon="pi pi-plus" class="ui-button-success" routerLink="/pessoas/nova"></button>
          </div>

        </p-toolbar>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome</label>
        <input type="text" pInputText  name="nome" [(ngModel)]="filtro.nome" ngModel #nome="ngModel" minlength="3" />
        <app-message [control]="nome" error="minlength" text="Informe pele menos 3 caracteres" ></app-message>
      </div>

    </div>

    <div class="ui-g">

      <div class="ui-g-12">

        <p-table #tabela [value]="pessoas" [responsive]="true" [paginator]="true" [rows]="5"
          [lazy]="true" [totalRecords]="total"  (onLazyLoad)="aoMudarPagina($event)">
          <ng-template pTemplate="header">
              <tr>
                  <th>Nome</th>
                  <th>Estado</th>
                  <th>Cidade</th>
                  <th>Status</th>
                  <th class="col-acoes" >Ações</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-pessoa>
              <tr>
                  <td>{{ pessoa.nome }}</td>
                  <td>{{ pessoa.endereco.cidade?.estado.nome }}</td>
                  <td>{{ pessoa.endereco.cidade?.nome }}</td>
                  <td>
                    <a href="#"
                      pTooltip="{{ pessoa.ativo ? 'Inativar' : 'Ativar' }}"
                      tooltipPosition="top" (click)="alternarStatus(pessoa)">
                      {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
                    </a>
                  </td>
                  <td class="col-acoes">
                    <button pButton icon="pi pi-pencil" pTooltip="Editar" style="margin-right: 3px;"
                      tooltipPosition="top" [routerLink]="['/pessoas', pessoa.codigo]">
                    </button>

                    <button pButton icon="pi pi-trash" [disabled]="!auth.temPermissao('ROLE_REMOVER_PESSOA')"  pTooltip="Excluir" tooltipPosition="top" (click)="excluir(pessoa)"></button>
                  </td>
              </tr>
          </ng-template>
      </p-table>

      </div>

    </div>

  </form>

</div>

