<div class="container">
  <p-toast></p-toast>
  <form autocomplete="off" #f="ngForm" (ngSubmit)="salvar(f)" >
    <div class="ui-g">

      <div class="ui-g-12">
        <h1>{{ codigo ? 'Editando' : 'Novo' }} Lançamento</h1>
      </div>

      <div class="ui-g-12">
        <p-toolbar>
          <div class="ui-toolbar-group-left">
            <button pButton type="submit" label="Salvar" icon="pi pi-save" style="margin-right: 4px;" ></button>
            <button pButton type="button"  (click)="novo(f)" label="Novo" icon="pi pi-plus" class="ui-button-success"></button>
          </div>

          <div class="ui-toolbar-group-right">
            <button pButton type="button" icon="pi pi-search" pTooltip="Voltar para página de pesquisa" routerLink="/lancamentos" tooltipPosition="top"></button>
          </div>

        </p-toolbar>
      </div>

      <div class="ui-g-12">
        <p-selectButton
          [options]="tipos" #tipo
          name="tipo"
          [(ngModel)]="lancamento.tipo"
          ></p-selectButton>
      </div>

      <div class="ui-g-12 ui-fluid">

        <div class="ui-g-12 ui-md-3 ui-lg-2">
          <label>Vencimento</label>
          <p-calendar dateFormat="dd/mm/yy" [locale]="br"
            [readonlyInput]="true"
            name="dataVencimento"
            [(ngModel)]="lancamento.dataVencimento"
            showButtonBar="true"
            [showIcon]="true"></p-calendar>
        </div>

        <div class="ui-g-12 ui-md-3 ui-lg-2">
          <label> {{ tipo.value === 'RECEITA' ? 'Recebimento' : 'Pagamento' }} </label>
          <p-calendar dateFormat="dd/mm/yy" [locale]="br"
            [readonlyInput]="true"
            showButtonBar="true"
            name="dataPagamento"
            [(ngModel)]="lancamento.dataPagamento"
            [showIcon]="true"></p-calendar>
        </div>

      </div>

      <div class="ui-g-12 ui-fluid">

        <div class="ui-g-12 ui-md-9 ui-lg-9">
          <label>Descrição</label>
          <input pInputText type="text" name="descricao" [(ngModel)]="lancamento.descricao" #descricao="ngModel" required minlength="5">
          <app-message [control]="descricao" error="required" text="Informe uma descrição" ></app-message>
          <app-message [control]="descricao" error="minlength" text="Informe pele menos 5 caracteres" ></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-lg-3">
          <label>Valor</label>
          <input pInputText type="text" placeholder="0,00" currencyMask name="valor" [(ngModel)]="lancamento.valor"
            [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" #valor="ngModel">
        </div>

      </div>

      <div class="ui-g-12 ui-fluid">

        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <label>Categoria</label>
          <p-dropdown [options]="categorias" placeholder="Selecione" name="categoria" [(ngModel)]="lancamento.categoria.codigo" ></p-dropdown>
        </div>

        <div class="ui-g-12 ui-md-6 ui-lg-6">
          <label>Pessoa</label>
          <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" name="pessoa" [(ngModel)]="lancamento.pessoa.codigo"></p-dropdown>
        </div>

      </div>

      <div class="ui-g-12 ui-fluid">

        <div class="ui-g-12 ui-md-12 ui-lg-12">
          <label>Observação</label>
          <textarea pInputTextarea rows="3"></textarea>
        </div>

      </div>

    </div>
  </form>
</div>
